# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.ll
*.bc
*.dot
*.pdf

# Executables
*.exe
*.out
*.app

# binaries
bin

# CMake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
cmake_install.cmake
Makefile


# QtCreator
svf-server.cflags
svf-server.config
svf-server.creator
svf-server.cxxflags
svf-server.files
svf-server.includes

